extends layout

block content
  form(action='/toggle_ad_block', method='POST')
    button(class='pushable') 
      span(class='shadow')
      span(class='edge') 
      span(class=(disabled === true ? 'front disabled' : 'front'), id="clicky") #{disabled === true ? 'Enable' : 'Disable'} Ad Blocker
